@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v13/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
}

body {
  background-color: #e4e4e4;
  font-family: "Ubuntu";
}

.recessed-container {
  margin-top: 4em;
  margin-left: 15vw;
  margin-right: 15vw;
  text-align: center;
}

@media (max-aspect-ratio: 5/4) {
	.recessed-container {
		margin-left: 0;
		margin-right: 0;
	}
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  font-size: 1.25em;
}

a {
  color: black;
  transition-property: color;
  transition-duration: .25s;
}

a:hover {
  color: #636363;
}

a:visited {
  color: #adadad;
}

.fancy-entry {
  display: block;
  padding: 0.5em;
  font-size: 1.2em;
  transition-property: font-size;
  transition-duration: .25s;
  transition-timing-function: linear;
}

.fancy-entry:hover {
  font-size: 2em;
}

a.fancy-entry {
  transition-property: color, font-size;
}
